[submodule "dependencies/SDL2-for-Pascal"]
	path = dependencies/SDL2-for-Pascal
	url = https://github.com/PascalGameDevelopment/SDL2-for-Pascal.git
[submodule "dependencies/EyeLink-for-Pascal"]
	path = dependencies/EyeLink-for-Pascal
	url = https://github.com/cpicanco/EyeLink-for-Pascal.git
[submodule "media"]
	path = media
	url = https://github.com/cpicanco/media.git
[submodule "dependencies/pupil-fpc"]
	path = dependencies/pupil-fpc
	url = https://github.com/cpicanco/pupil-fpc.git
[submodule "dependencies/fpc-zmq"]
	path = dependencies/fpc-zmq
	url = https://github.com/cpicanco/fpc-zmq.git
[submodule "dependencies/msgpack-delphi"]
	path = dependencies/msgpack-delphi
	url = https://github.com/cpicanco/msgpack-delphi.git
[submodule "dependencies/zeromq4-1"]
	path = dependencies/zeromq4-1
	url = https://github.com/zeromq/zeromq4-1.git
